a {
  color: black;
}

.active a {
  color: #ffffff !important;
}

.active {
  background-color: #64b5f6 !important;
}

.material-icons {
  color: #64b5f6;
}

.active .material-icons {
  color: #ffffff;
}

.row span {
  font-size: 12px;
  font-weight: bold;
}

.num {
  margin: 0 !important;
  color: #64b5f6;
  font-weight: bold;
  font-size: 16px;
}
