<div class="row" *ngIf="userData">
  <div *ngIf="userData" class="col s12 m4">
    <a [routerLink]="['', userData.username]">
      <span>Posts</span>
      <p class="num" *ngIf="userData">{{userData.posts.length}}</p>
      <p class="num" *ngIf="!userData">0</p>
    </a>
  </div>
  <div class="col s12 m4" [routerLinkActive]="['']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people', 'following']">
      <span>Following</span>
      <p class="num" *ngIf="userData">{{userData.following.length}}</p>
      <p class="num" *ngIf="!userData">0</p>
    </a>
  </div>
  <div class="col s12 m4" [routerLinkActive]="['']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people', 'followers']">
      <span>Followers</span>
      <p class="num" *ngIf="userData">{{userData.followers.length}}</p>
      <p class="num" *ngIf="!userData">0</p>
    </a>
  </div>
</div>

<ul class="collection with-header">
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/streams']">
      <div>Streams
        <a href="#!" class="secondary-content">
          <i class="material-icons">announcement</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people']">
      <div>People
        <a href="#!" class="secondary-content">
          <i class="material-icons">people</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people', 'following']">
      <div>Following
        <a href="#!" class="secondary-content">
          <i class="material-icons">people</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people', 'followers']">
      <div>Followers
        <a href="#!" class="secondary-content">
          <i class="material-icons">people_outline</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/images', user.username]">
      <div>Photos
        <a href="#!" class="secondary-content">
          <i class="material-icons">photo_library</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/notifications']">
      <div>Notifications
        <a href="#!" class="secondary-content">
          <i class="material-icons">alarm</i>
        </a>
      </div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/account', 'password']">
      <div>Change Password
        <a href="#!" class="secondary-content">
          <i class="material-icons">vpn_key</i>
        </a>
      </div>
    </a>
  </li>
</ul>