.bodyDiv {
  height: 100vh;
}

div.bodyContainer {
  margin-top: 50px !important;
}

.tabs a {
  color: #64b5f6;
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background: inherit !important;
}

.auth-content {
  height: 515px !important;
}
