<div class="bodyDiv card-panel blue">
  <div class="container bodyContainer">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab">
                <a href="#login" class="active">Chat App Login</a>
              </li>
              <li class="tab">
                <a href="#signup">Chat App Sign Up</a>
              </li>
            </ul>
          </div>
          <div class="card-content">
            <p style="text-align: center; font-size: 20px">
              Welcome to Chat App
            </p>
          </div>
          <div class="card-content auth-content">
            <div id="login">
              <app-login></app-login>
            </div>
            <div id="signup">
              <app-signup></app-signup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>