<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col s12 m4 l3">
      <app-side></app-side>
    </div>

    <div class="col s12 m8 l9">
      <div class="row">
        <h2 class="text">Change Password</h2>
        <div class="col s12 password-column">
          <div class="row">
            <form class="col s12" [formGroup]="passwordForm" (ngSubmit)="ChangePassword()">
              <div class="row">
                <div class="input-field col s6" style="margin-left: 10px;">
                  <input id="cpassword" type="password" formControlName="cpassword">
                  <label for="cpassword">Current Password</label>
                  <p class="error" *ngIf="!passwordForm.controls['cpassword'].valid && passwordForm.controls['cpassword'].touched">
                    Current Password is required
                  </p>
                </div>

                <div class="input-field col s6" style="margin-left: 10px;">
                  <input id="new-password" type="password" formControlName="newPassword">
                  <label for="new-password">New Password</label>
                  <p class="error" *ngIf="!passwordForm.controls['newPassword'].valid && passwordForm.controls['newPassword'].touched">
                    Password is required
                  </p>
                </div>

                <div class="input-field col s6" style="margin-left: 10px;">
                  <input id="confirm-password" type="password" formControlName="confirmPassword">
                  <label for="confirm-password">Confirm Password</label>
                  <p class="error" *ngIf="!passwordForm.controls['confirmPassword'].valid && passwordForm.controls['confirmPassword'].touched">
                    Confirm Password is required
                  </p>
                  <p class="error" *ngIf="passwordForm.errors">Password does not match</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6" style="margin-left: 10px;">
                  <button class="btn" [disabled]="!passwordForm.valid">
                    Save Password
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>