.postDiv {
  background-color: #64b5f6;
}

form {
  background-color: #fff;
}

.formDiv {
  margin: 0px 20px 0px 20px;
}

.addImageBtn {
  margin-bottom: 5px;
}

.postBtn {
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
  color: #64b5f6;
}

.time {
  font-size: 14px;
  color: #666565;
}

.postComment {
  font-size: 15px;
}
